<div class="page-content-wrapper">
  <div class="container">
    <!-- Profile Wrapper-->
    <div class="profile-wrapper-area py-3">

      <%- include ('../partials/messages.ejs') %>

      <!-- User Information-->
      <div class="card user-info-card">
        <div class="card-body p-4 d-flex align-items-center">
          <div class="user-profile me-3"><img src="/img/bg-img/9.jpg" alt=""></div>
          <div class="user-info">
            <p class="mb-0 text-white">@designing-world</p>
            <h5 class="mb-0">Suha Jannat</h5>
          </div>
        </div>
      </div>
      <!-- User Meta Data-->
      <div class="card user-data-card">
        <div class="card-body">
          <!-- <div class="single-profile-data d-flex align-items-center justify-content-between">
            <div class="title d-flex align-items-center"><i class="lni lni-user"></i><span>Username</span></div>
            <div class="data-content">@designing-world</div>
          </div> -->
          <div class="single-profile-data d-flex align-items-center justify-content-between">
            <div class="title d-flex align-items-center"><i class="lni lni-user"></i><span>Full Name</span></div>
            <div class="data-content">
                <% if(typeof(user) !== "undefined") { %>
                  <%- user.fullname %>
                <% } %>
            </div>
          </div>
          <div class="single-profile-data d-flex align-items-center justify-content-between">
            <div class="title d-flex align-items-center"><i class="lni lni-phone"></i><span>Phone</span></div>
            <div class="data-content">
              <% if(typeof(user) !== "undefined") { %>
                <% if (!user.phone) { %>
                  <span class="text-danger">No phone</span>
                <% } else { %>
                  <%- user.phone %>
                <% } %>
              <% } %>
            </div>
          </div>
          <div class="single-profile-data d-flex align-items-center justify-content-between">
            <div class="title d-flex align-items-center"><i class="lni lni-envelope"></i><span>Email Address</span></div>
            <div class="data-content">
              <% if(typeof(user) !== "undefined") { %>
                <%- user.email %>
              <% } %>
            </div>
          </div>
          <div class="single-profile-data d-flex align-items-center justify-content-between">
            <div class="title d-flex align-items-center"><i class="lni lni-map-marker"></i><span>Shipping</span></div>
            <div class="data-content">
              <% if(typeof(user) !== "undefined") { %>
                <% if (!user.address) { %>
                  <span class="text-danger">No address</span>
                <% } else {%>
                    <%- user.address %>
                <% } %>
              <% } %>
            </div>
          </div>
          <div class="single-profile-data d-flex align-items-center justify-content-between">
            <div class="title d-flex align-items-center"><i class="lni lni-star"></i><span>My Order</span></div>
            <div class="data-content"><a class="btn btn-danger btn-sm" href="my-order.html">View</a></div>
          </div>
          <!-- Edit Profile-->
          <div class="edit-profile-btn mt-3"><a class="btn btn-info w-100" href="/user/edit-profile"><i class="lni lni-pencil me-2"></i>Edit Profile</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="profile p-5 d-none">
  <div class="container-fluid">
    <h4 class="h4 text-center pb-3 mb-3 border-bottom">
      Profile information
    </h4>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">

        <%- include ('../partials/messages.ejs') %>

        <form action="/user/profile" method="POST">
          <input type="hidden" name="_csrf" value="<%- csrfToken %>">
          <div class="form-group mb-2">
            <label for="profileName">Full name</label>
            <input 
              class="form-control" 
              type="text" 
              name="profileName" 
              id="profileName" 
              required 
              <% if(typeof(user) !== "undefined") { %>
                value= "<%- user.fullname %>"
              <% } %>
            >
          </div>

          <div class="form-group mb-2">
            <label for="profileEmail">Email</label>
            <input 
              class="form-control" 
              type="text" 
              name="profileEmail" 
              id="profileEmail" 
              required 
              <% if(typeof(user) !== "undefined") { %>
                value= "<%- user.email %>"
              <% } %>
            >
          </div>

          <div class="form-group mb-2">
            <label for="newPassword">New password (optional)</label>
            <input 
              class="form-control" 
              type="password" 
              name="newPassword" 
              id="newPassword" 
              minlength="6"
            >
          </div>

          <div class="form-group mb-2">
            <label for="confirmPassword">Confirm new password (optional)</label>
            <input 
              class="form-control" 
              type="password" 
              name="confirmPassword" 
              id="confirmPassword" 
              minlength="6"
            >
          </div>

          <a href="/" class="btn btn-secondary">Cancel</a>
          <button type="submit" class="btn btn-primary">
            Save
          </button>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>

<%- include ('../partials/footer') %>
